/OLD/
/CartRide/*
!/CartRide/data/
/CartRide/data/*
!/CartRide/data/Map*
!/CartRide/data/Tilesets.json
!/CartRide/js
/CartRide/js/*
!/CartRide/js/plugins/
/CartRide/js/plugins/*
!/CartRide/js/plugins/CartRide.js
/CursorApplicationToButtonPicture/*
!/CursorApplicationToButtonPicture/js
/CursorApplicationToButtonPicture/js/*
!/CursorApplicationToButtonPicture/js/plugins/
/CursorApplicationToButtonPicture/js/plugins/*
!/CursorApplicationToButtonPicture/js/plugins/CursorApplicationToButtonPicture.js
!/CursorApplicationToButtonPicture/img
/CursorApplicationToButtonPicture/img/*
!/CursorApplicationToButtonPicture/img/system/
/CursorApplicationToButtonPicture/img/system/*
!/CursorApplicationToButtonPicture/img/system/Cursor.png
/OptionEx/*
!/OptionEx/js
/OptionEx/js/*
!/OptionEx/js/plugins/
/OptionEx/js/plugins/*
!/OptionEx/js/plugins/OptionEx.js
/RandomDungeon/*
!/RandomDungeon/data/
/RandomDungeon/data/*
!/RandomDungeon/data/Map*
!/RandomDungeon/js
/RandomDungeon/js/*
!/RandomDungeon/js/plugins/
/RandomDungeon/js/plugins/*
!/RandomDungeon/js/plugins/RandomDungeon.js
/FieldAction/*
!/FieldAction/data/
!/FieldAction/js
/FieldAction/js/*
!/FieldAction/js/plugins/
/FieldAction/js/plugins/*
!/FieldAction/js/plugins/FieldAction.js
/MenuStatusPictures/*
!/MenuStatusPictures/js
/MenuStatusPictures/js/*
!/MenuStatusPictures/js/plugins/
/MenuStatusPictures/js/plugins/*
!/MenuStatusPictures/js/plugins/MenuStatusPictures.js