/OLD/
/ActorPictures/*
!/ActorPictures/Readme.md
!/ActorPictures/js
/ActorPictures/js/*
!/ActorPictures/js/plugins/
/ActorPictures/js/plugins/*
!/ActorPictures/js/plugins/ActorPictures.js
!/ActorPictures/js/plugins/ActorPictureOnAltMenuScreen.js
!/ActorPictures/js/plugins/PictureMessage.js
/CartRide/*
!/CartRide/Readme.md
!/CartRide/data/
/CartRide/data/*
!/CartRide/data/Map*
!/CartRide/data/Tilesets.json
!/CartRide/js
/CartRide/js/*
!/CartRide/js/plugins/
/CartRide/js/plugins/*
!/CartRide/js/plugins/CartRide.js
/CursorApplicationToButtonPicture/*
!/CursorApplicationToButtonPicture/Readme.md
!/CursorApplicationToButtonPicture/js
/CursorApplicationToButtonPicture/js/*
!/CursorApplicationToButtonPicture/js/plugins/
/CursorApplicationToButtonPicture/js/plugins/*
!/CursorApplicationToButtonPicture/js/plugins/CursorApplicationToButtonPicture.js
!/CursorApplicationToButtonPicture/img
/CursorApplicationToButtonPicture/img/*
!/CursorApplicationToButtonPicture/img/system/
/CursorApplicationToButtonPicture/img/system/*
!/CursorApplicationToButtonPicture/img/system/Cursor.png
/OptionEx/*
!/OptionEx/Readme.md
!/OptionEx/js
/OptionEx/js/*
!/OptionEx/js/plugins/
/OptionEx/js/plugins/*
!/OptionEx/js/plugins/OptionEx.js
/RandomDungeon/*
!/RandomDungeon/Readme.md
!/RandomDungeon/data/
/RandomDungeon/data/*
!/RandomDungeon/data/Map*
!/RandomDungeon/js
/RandomDungeon/js/*
!/RandomDungeon/js/plugins/
/RandomDungeon/js/plugins/*
!/RandomDungeon/js/plugins/RandomDungeon.js
/FieldAction/*
!/FieldAction/data/
!/FieldAction/js
/FieldAction/js/*
!/FieldAction/js/plugins.js
!/FieldAction/js/plugins/
/FieldAction/js/plugins/*
!/FieldAction/js/plugins/FieldAction.js
/MenuStatusPictures/*
!/MenuStatusPictures/Readme.md
!/MenuStatusPictures/js
/MenuStatusPictures/js/*
!/MenuStatusPictures/js/plugins/
/MenuStatusPictures/js/plugins/*
!/MenuStatusPictures/js/plugins/MenuStatusPictures.js
/FramelessChoiceList/*
!/FramelessChoiceList/Readme.md
!/FramelessChoiceList/js
/FramelessChoiceList/js/*
!/FramelessChoiceList/js/plugins/
/FramelessChoiceList/js/plugins/*
!/FramelessChoiceList/js/plugins/FramelessChoiceList.js
!/FramelessChoiceList/img
/FramelessChoiceList/img/*
!/FramelessChoiceList/img/system/
/FramelessChoiceList/img/system/*
!/FramelessChoiceList/img/system/Selection_Active.png
!/FramelessChoiceList/img/system/Selection_Deactive.png
/ScrollingWindowBack/*
!/ScrollingWindowBack/Readme.md
!/ScrollingWindowBack/js
/ScrollingWindowBack/js/*
!/ScrollingWindowBack/js/plugins/
/ScrollingWindowBack/js/plugins/*
!/ScrollingWindowBack/js/plugins/ScrollingWindowBack.js
!/ScrollingWindowBack/img
/ScrollingWindowBack/img/*
!/ScrollingWindowBack/img/system/
/ScrollingWindowBack/img/system/*
!/ScrollingWindowBack/img/system/Window.png
/NovelGameUI/*
!/NovelGameUI/Readme.md
!/NovelGameUI/js
/NovelGameUI/js/*
!/NovelGameUI/js/plugins/
/NovelGameUI/js/plugins/*
!/NovelGameUI/js/plugins/NovelGameUI.js
/ClickAnimation/*
!/ClickAnimation/Readme.md
!/ClickAnimation/js
/ClickAnimation/js/*
!/ClickAnimation/js/plugins/
/ClickAnimation/js/plugins/*
!/ClickAnimation/js/plugins/ClickAnimation.js